$primary: #0864bb;
$nav-link-font-weight: bold;

.brand-logo {
    height: 3.5rem;
}

.main-logo {
    max-height: 50vw;
    width: auto;
}

main {
    background-image: url("images/background.jpg");
    background-size: cover;
    background-position: center;
}

.opacity-95 {
    opacity: 0.95;
}

.clickable {
    cursor: pointer;
}

.link-footer {
    text-decoration: none;
    font-weight: normal;
    transition-property: font-weight;
    transition-timing-function: ease-out;
    transition-duration: 0.15s;
}

.link-footer:hover {
    font-weight: bold;
}

.text-justify {
    text-align: justify !important;
    text-justify: inter-word;
}

.table-row {
    background-color: white;
    transition-property: background-color;
    transition-timing-function: ease;
    transition-duration: 0.30s;
}

.table-row:hover {
    background-color: #ececff;
}

.max-width-50nbp-sm,
.max-width-50nbp-md { /* 50% of next breakpoint up to X breakpoint */
    max-width: 288px; /* 50% of 576px */
}

.max-width-75nbp-sm,
.max-width-75nbp-md,
.max-width-75nbp-lg,
.max-width-75nbp-xl {
    max-width: 432px; /* 75% of 576px */
}

@media only screen and (min-width: 576px) { /* sm breakpoint */
    .max-width-50nbp-sm,
    .max-width-50nbp-md {
        max-width: 384px; /* 50% of 768px */
    }
    .max-width-75nbp-sm, /* Max width allowed */
    .max-width-75nbp-md,
    .max-width-75nbp-lg,
    .max-width-75nbp-xl {
        max-width: 576px; /* 75% of 768px */
    }
}

@media only screen and (min-width: 768px) { /* md breakpoint */
    .max-width-50nbp-sm,
    .max-width-50nbp-md {
        max-width: 496px; /* 50% of 992px */
    }
    .max-width-75nbp-md,
    .max-width-75nbp-lg,
    .max-width-75nbp-xl {
        max-width: 744px; /* 75% of 992px */
    }
}

@media only screen and (min-width: 992px) { /* lg breakpoint */
    .max-width-50nbp-sm {
        max-width: 576px; /* Max width allowed */
    }
    .max-width-50nbp-md {
        max-width: 600px; /* 50% of 1200px */
    }
    .max-width-75nbp-md {
        max-width: 768px; /* Max width allowed */
    }
    .max-width-75nbp-lg,
    .max-width-75nbp-xl {
        max-width: 900px; /* 75% of 1200px */
    }
}

@media only screen and (min-width: 1200px) { /* xl breakpoint */
    .max-width-50nbp-md {
        max-width: 700px; /* 50% of 1400px */
    }
    .max-width-75nbp-lg {
        max-width: 992px; /* Max width allowed */
    }
    .max-width-75nbp-xl {
        max-width: 1050px; /* 75% of 1400px */
    }
}

@media only screen and (min-width: 1400px) { /* xxl breakpoint */
    .max-width-50nbp-md {
        max-width: 768px; /* Max width allowed */
    }
    .max-width-75nbp-xl {
        max-width: 1400px; /* Max-width-allowed */
    }
}

@import "../node_modules/bootstrap/scss/bootstrap";
