$primary: #0864bb;
$nav-link-font-weight: bold;

.brand-logo {
    height: 3.5rem;
}

main {
    background-image: url("images/background.jpg");
    background-size: cover;
    background-position: center;
}

.opacity-95 {
    opacity: 0.95;
}

.clickable {
    cursor: pointer;
}

.link-footer {
    text-decoration: none;
    font-weight: normal;
    transition-property: font-weight;
    transition-timing-function: ease-out;
    transition-duration: 0.15s;
}

.link-footer:hover {
    font-weight: bold;
}

.text-justify {
    text-align: justify !important;
    text-justify: inter-word;
}

.max-width-75nbp-md {
    max-width: 432px; /* 75% of 576px */
}

@media only screen and (min-width: 576px) { /* sm breakpoint */
    .max-width-75nbp-md {
        max-width: 576px; /* 75% of 768px */
    }
}

@media only screen and (min-width: 768px) { /* md breakpoint */
    .max-width-75nbp-md {
        max-width: 768px; /* Max witdh allowed */
    }
}

@import "../node_modules/bootstrap/scss/bootstrap";
