$primary: #0864bb;

.brand-logo {
    height: 3.5rem;
}

main {
    background-image: url("../public/img/background.jpg");
    background-size: cover;
    background-position: center;
}

.opacity-90 {
    opacity: 0.9;
}

.clickable {
    cursor: pointer;
}

@import "../node_modules/bootstrap/scss/bootstrap";